<%= form_for(announcement) do |f| %>
  <% if announcement.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(announcement.errors.count, "error") %> prohibited this announcement from being saved:</h2>

      <ul>
      <% announcement.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :name %> </br>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :description %> </br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :type_id %> </br>
    <%= f.collection_select(:type_id, Type.all, :id, :name ) %>
  </div>
  

  <div class="field">
    <%= f.label :price %> </br>
    <%= f.number_field :price %>
  </div>
  <div class="field">
    <input type="radio" id="vehicle" name="vehicle" value="vehicle" onClick="show()" checked> Vehicule
    <input type="radio" id="peice" name="vehicle" value="peiceauto" onClick="hide()" > pièce auto
  </div>
  

  <div id="tohide">
    <div class="field">
      <%= f.label :km %> </br>
      <%= f.number_field :km %>
    </div>
    <div class="field">
      <%= f.label :color %> </br>
      <%= f.text_field :color %>
    </div>
  </div>

  <div class="field" style="display : none;">
    <%= f.label :user_id %> </br>
    <%= f.number_field :user_id, :value => current_user.id %>
  </div>

  <div class="field" style="display : none;">
    <%= f.label :email %> </br>
    <%= f.text_field :email, :value => current_user.email %>
  </div>

  <div class="field">
    <%= f.label :year %> </br>
    <%= f.date_field :year %>
  </div>
  

<div class="field">
    <%= f.label :image %> </br> 
    <div class="avatar-upload">
    <%= f.attachment_field :image %>
    </div>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<script>
  function hide() { 
    $("#tohide").hide();
  }
  function show() {
    $("#tohide").show();
  }
</script>
