<%= form_for(announcement) do |f| %>
  <% if announcement.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(announcement.errors.count, "error") %> prohibited this announcement from being saved:</h2>

      <ul>
      <% announcement.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>

  <div class="field">
    <%= f.label :color %>
    <%= f.text_field :color %>
  </div>

  <div class="field">
    <%= f.label :price %>
    <%= f.number_field :price %>
  </div>

  <div class="field">
    <%= f.label :km %>
    <%= f.number_field :km %>
  </div>

  <div class="field">
    <%= f.label :year %>
    <%= f.date_field :year %>
  </div>

  <div class="field">
    <%= f.label :type_id %>
    <%= f.number_field :type_id %>
  </div>

<div class="field">
    <%= f.label :image %>
    <%= f.attachment_field :image %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
