<p id="notice"><%= notice %></p>
 <div class="container">
    <div class="row">
         <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="<%= attachment_url(@announcement, :image) %>" alt="">
      <div class="caption">
        <h3><%= @announcement.name %></h3>
        <p>
         price:<%= @announcement.price %> </br>
          Descrption:<%= @announcement.description %> </br>
          color: <%= @announcement.color %> </br>
          kilometrage:  <%= @announcement.km %> </br>
           année:  <%= @announcement.year %> </br>
        </p>
        <p>
        <% if current_user.id == @announcement.user_id %>
          <%= link_to 'Edit', edit_announcement_path(@announcement), :class => 'btn btn-primary' %>
        <% end %>
          </p>
      </div>
    </div>
    </div>
    </div>

<%= link_to 'Back', announcements_path , :class => 'btn btn-success' %>
